.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.link {
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  background-color: var(--tg-theme-secondary-bg-color);
  transition-duration: 100ms;
}

.link:hover {
  opacity: 70%;
}

.iconWrapper {
  padding: 0.5rem;
  display: grid;
  place-content: center;
}

.icon {
  stroke: var(--tg-theme-accent-text-color);
  stroke-width: 1px;
  width: 3rem;
  fill: none;
  height: 3rem;
  background-color: var(--tg-theme-bg-color);
  border-radius: 999px;
  padding: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem
}

.name {
  color: var(--tg-theme-text-color);
  font-size: 18px;
  font-weight: 500;
}

.period {
  color: var(--tg-theme-subtitle-text-color);
  font-size: 14px;
}
